{% extends "music/base.html" %}
{% block content %}
	<ul>
    {% for song in songs %}
    		<li><button  onclick = "playsong('{{ song.song_title }}','{{ song.file.url }}')">{{ song.song_title }}</button></li>
    {% endfor %}
    </ul>
    <script>
	function playsong(song,file) {
		resetPlayer();
		document.getElementById('title').innerHTML = song ;
		var player = document.getElementById('player');
		player.src = file;
		player.title = song;
		player.load();
		player.play();
	}

	function resetPlayer() {
		var playpause = document.getElementById("play");
		var player = document.getElementById('player');
	   	playpause.title = "play";
	   	playpause.innerHTML = "Play";
	   	if (player.currentTime > 0) player.currentTime = 0;
	   	document.getElementById("seekbar").value = 0;
	}
	function next() {
		var p = document.getElementById('player');
		var pos = 0;
		var ans = -1;
		var nextsongtitle;
		var nextsongurl;
		{% for song in songs %}
			if ('{{ song.song_title }}' == p.title) {
				ans = pos;
			}
			else {
				pos = pos+1;
			}
			if(ans > 0 && pos == ans+1) {
				nextsongtitle = '{{ song.song_title }}';
				nextsongurl = '{{ song.file.url }}';
			}
		{% endfor %}
		if('{{ songs|length}}' == ans+1) {
			nextsongtitle = '{{ songs.0.song_title }}';
			nextsongurl = '{{ songs.0.file.url }}';
		}
		playsong(nextsongtitle,nextsongurl);
	}
	function prev() {
		var p = document.getElementById('player');
		var pos = 0;
		var ans = -1;
		var prevsongtitle;
		var prevsongurl;
		var title;
		var url;
		{% for song in songs %}
			if ('{{ song.song_title }}' == p.title) {
				ans = pos;
			}
			else {
				pos = pos+1;
			}
			if(ans > 0 && pos == ans) {
				prevsongtitle = title;
				prevsongurl = url;
			}
			title = '{{ song.song_title }}';
			url = '{{ song.file.url }}';
		{% endfor %}
		if(ans != 0) {
			playsong(prevsongtitle,prevsongurl);
		}
	}
	</script>
{% endblock content %}